
 

<h3 class="text-center " id="title">Greater Sydney Libraries</h3>
<div class=" row mb-4 mt-4">
    <div class="card col-md-4 " style="width: 18rem;">
        <img src="~/images/bookshelf1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">View Catalog</h5>
            <p class="card-text">Welcome to Greater Sydney libraries. We have proudly provided educational resources, leisure-time reading entertainment and community gathering spaces for more than 60 years..</p>
            <a asp-controller="Catalog" asp-action="Index" class="btn btn-lg btn-primary">Catalog</a>
        </div>
    </div>

    <div class="card col-md-4" style="width: 18rem;">
        <img src="~/images/patrons.webp" class="card-img-top" alt="...">
        <div class="card-body ">
            <h5 class="card-title">Customers</h5>
            <p class="card-text">Find all of the events happening in the Liverpool City Library. No matter your age, the library has something for everyone.</p>
            <a asp-controller="customers" asp-action="index" class="btn btn-lg btn-primary mt-4">Customers</a>
        </div>
    </div>

    <div class="card col-md-4" style="width: 18rem;">
        <img src="~/images/libraryBranch11.jpg" class="card-img-top" alt="...">
        <div class="card-body ">
            <h5 class="card-title">Library Branches</h5>
            <p class="card-text">Greater Sydney Libraries service and facilitie are available at three locations: Parramatta, Liverpool, Penrith.</p>
            <a href="#" class="btn btn-primary btn-lg mt-4">My Library</a>
        </div>
    </div>

</div>

